{% extends 'base.html.twig' %}
{% block dashboard %}
{% include "header.php" %}
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->

    {% include "top_nav.php" %}

    <!-- Top Menu Items -->
    {% include "side_nav.php" %}
    <!-- /.navbar-collapse -->
</nav>

<div id="page-wrapper">
    {% include "admin_content.php" %}
    ?>
</div>
<!-- /#page-wrapper -->

{% include "footer.php" %}
{% endblock %}