{% extends header.php %}

{% extends includes/sidebar.php %}

{% extends includes/footer.php %}


<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-12">
        <div class="thumbnails row">
            {{% foreach ($photos as $photo ) : %}}
            <div class="col-xs-6 col-md-3">
                <a class="thumbnail" href="photo.php?id={{ $Photo_id }}">
                    <img src="admin/{{ $photo }}" alt="">
                    </img>
                </a>
            </div>
            {{% endforeach; %}}
        </div>

    </div>
    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

    </div>
    <!-- /.row -->