{% extends 'base.html.twig' %}

{% block content %}
    <div id="wrapper">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <div class="thumbnails row">
                    {% for photo in photos %}
                        <div class="col-xs-6 col-md-3">
                            <a class="thumbnail" href="photo.php?id={{ photo.id }}">
                                <img src="admin/{{ photo.picture_path() }}" alt="">
                                </img>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                {% include 'sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}